.menus{
    display: grid;
    grid-template-rows: 3fr;
}
.menu{
    background: $color-searchback;
    display: flex;
    flex-direction: column;
    &__header{
        margin-top:-4rem;
        background: $color-searchback;
        border-radius: 3rem 3rem 0 0;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 1rem ;
    }
    &__title{
        font-family: 'Shrikhand';
        font-size: 1.9rem;
        margin-left: -0.5rem;
    } 
    &__btn {
        border: transparent 0px solid; 
    }
}   
.menu__purple {
    &--test > fa-heart{
        /*color: $color-searchback;*/
        background-color: $color-searchback;
        border-radius: 50%;
        position:relative;
        opacity:1;    
        
        &::before {
            content: "\f004";
            transition: color 1s ease-out;
            animation: progress-heart 1000ms ease-in-out; 
        }
        &:hover::before{
                color: $color-primary;

                cursor: pointer;
                
        }
    }   
}     



.menumain{
    display: grid;
    grid-template-rows: auto, 3(1fr);
    grid-row-gap: 1rem;
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    padding-bottom: 2rem;
    &__title{
        font-weight:lighter;   
    }
    &__underline{
        border-bottom: 4px solid $color-tertiary;
        padding-bottom: 0.5rem;
    }
}
.articlie{
    display:block;
}
.menu-card{
    background-color: #fff;
    display: flex;
    border-radius: .75rem;
    padding:1rem;
    box-shadow: 0 2px 7px $color-searchbord;
    overflow: hidden;
    cursor: pointer;
    animation: itemtranslate .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    &__item{
        flex:1;
        overflow: hidden;

        &--title{
        font-size: 1.1rem;
        margin:0;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: "[..]";
        }
        &--description{
            margin:0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &__price{
        font-weight: 900;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 0.5rem;
        overflow: hidden;
    }
    &__confirmation{
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease-in-out;
    }
    &:hover &__confirmation {
        margin-right: -1rem;
    }
    &__wrapicon {
        height: 1.6rem;
        width: 1.6rem;
        background-color: white;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius: 100px;
        /*transform: rotate(180deg);
        transition-duration: 0.5s;*/
        &--icon {
            color: $color-tertiary;
        }
    }
    /*&:hover &__wrapIcon {
        transform: rotate(0);
      }*/

}
.time{
    animation-delay: 150ms;
}
.order{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 4rem 0;
}

