.menu{
    background: $color-searchback;
    display: flex;
    flex-direction: column;
    &__header{
        margin-top:-4rem;
        background: $color-searchback;
        border-radius: 3rem 3rem 0 0;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 1rem ;
    }
    &__title{
        font-family: 'Shrikhand';
        font-size: 1.9rem;
        margin-left: -1rem;
    } 
    &__btn {
        border: transparent 0px solid; 
    }
}   
.menu__purple {
    &--test{
        color: $color-searchback;
        background-color: black;
        border-radius: 50%;
        &::before {
            content: "\f004";
            font-weight: bold;
            transition: color 1s ease-out;
        }
        &:hover::before{
                color: $color-primary;
                cursor: pointer;
        }
    }   
}     



.menumain{
    display: grid;
    grid-template-rows: auto, 3(1fr);
    grid-row-gap: 1rem;
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    &__title{
        font-weight:lighter;   
    }
    &__underline{
        border-bottom: 4px solid $color-tertiary;
        padding-bottom: 0.5rem;
    }
}
.articlie{
    display:block;
}
.menu-card{
    background-color: #fff;
    display: flex;
    border-radius: .75rem;
    box-shadow: 0 2px 7px $color-searchbord;
    overflow: hidden;
    cursor: pointer;
    animation: itemtranslate .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    &__item{
        flex:1;
        &--title{
        font-size: 1.2rem;
        }
    }
    &__price{
        font-weight: 900;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    &__confirmation{
    background-color: #99e2d0;

    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
    }
}
.delay{
    animation-delay: 0s;
}

