.menus{
    display: grid;
    @include media(1024px) {
        grid-template-columns: repeat(3,1fr);
        padding: 2rem 1rem 2rem 1rem;
      }
}
.menu{
    background: $color-searchback;
    display: flex;
    flex-direction: column;
    &__header{
        margin-top:-4rem;
        background: $color-searchback;
        border-radius: 3rem 3rem 0 0;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem 0 1rem ;
        @include media(1024px) {
            padding-left: 2rem;
          }
    }
    &__title{
        font-family: 'Shrikhand';
        font-size: 1.9rem;
    } 
    &__btn {
        height: 2rem;
        width: 2rem;
        margin-right: 1rem;
        background-color: transparent;
        border: transparent 0rem solid;
        display:flex;
        align-items:center;
        justify-content:center;
        cursor: pointer;
        position: relative;
        background-color: black;
        &:hover::before {
          opacity: 1;
          /*animation: progressheart 1500ms;
          animation-timing-function: cubic-bezier(.34,.01,.18,1);
          transform-origin: 50% bottom;*/
        }      
        &::before {
          content: "";
          opacity: 0;
          transition: 0.5s;
          position: absolute;
          height: 100%;
          width: 100%;
          background: $color-btn;
        }
    }   
    &__heart {
        background-color: $color-searchback;
        position: absolute;
        display:flex;
        align-items:center;
        justify-content:center;
        height: 100%;
        width: 100%;
        mix-blend-mode: lighten;
    }   
    &__btn:hover {
        .menu__heart {
          &--heartempty {
            opacity: 0;
          }
        }
    }  
}   
.menumain{
    display: grid;
    grid-row-gap: 1rem;
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    padding-bottom: 2rem;
    @include media(1024px) {
        grid-row-gap: 2rem;
        align-content: start;
    }   
    &__title{
        font-weight:lighter;
        @include media(1024px) {
            text-align: center;
        }   
    }
    &__underline{
        border-bottom: 4px solid $color-tertiary;
        padding-bottom: 0.5rem;
    }
}
.articlie{
    display:block;
}
.menu-card{
    background-color: #fff;
    display: flex;
    border-radius: .75rem;
    padding:1rem;
    box-shadow: 0 2px 7px $color-searchbord;
    overflow: hidden;
    cursor: pointer;
    animation: itemtranslate 300ms;
    animation-timing-function: cubic-bezier(.34,.01,.18,1);
    animation-fill-mode: both;
    transform: scale(0);
    &__item{
        flex:1;
        overflow: hidden;
        &--title{
        font-size: 1.1rem;
        margin:0;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: "[..]";
        }
        &--description{
            margin:0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &__price{
        font-weight: 900;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 0.5rem;
        overflow: hidden;
    }
    &__confirmation{
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease-in-out;
    }
    &:hover &__confirmation {
        margin-right: -1rem;
    }
    &__wrapicon {
        height: 1.6rem;
        width: 1.6rem;
        background-color: white;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius: 100px;
        transform: rotate(180deg);
        transition-duration: 0.5s;

    }
    &:hover &__wrapicon {
        transform: rotate(0);
    }
    &__icon {
        color: $color-tertiary;
    }


}
@for $i from 1 to 10 {
    .menu-card{
        &:nth-child(#{$i}) {
      animation-delay:  $i *(1500ms / 10);
    }
  }
}  
.order{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 4rem 0;
    @include media(1024px) {
        height:4rem;
    }   
}

