.logo{
    display: flex;
    justify-content: center;
    margin-bottom: -1rem;
    &__top{
        height:1.7rem;
    }
}
.footer{
    background-color: $color-icon;
    padding: 0.8rem 0 0 1.3rem;
    height:12rem;
    @include media(1024px){
        height:8rem;
        padding: 2rem 0 0 2rem;
    }
    &__logo{
        color:white;
        font-family: 'Shrikhand';
        font-size:1.2rem;
        letter-spacing: 0.1em;
    }
    &__list{
        list-style: none;
        margin-left: -2.4rem;
        color:white;
        display: grid;
        grid-template-rows: 4fr;
        grid-row-gap: 0.3rem;
        @include media(1024px){
            grid-template-columns: repeat(4,1fr);
        }
    }
    &__icon{
        width:2rem;
    }
}