.intro{
    background-color: #f6f6f6;
    height: 17rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    &__title{
        font-size: 1.5rem;
        margin: 0rem 4rem 0 4rem;
        text-align: center;
    }
    &__subtitle{
        margin: 1rem 1rem 2rem 1rem;
        text-align: center;
        color: $color-searchbord;
    }
    &__btn{
        @include button;
    }
}
   

