.restaurants{
    background: $color-searchback;
    padding: 1.3rem 1.1rem 0 1.1rem;
    padding-bottom: 4rem;
    @include media(1024px) {
    padding: 2rem 2rem 4rem 2rem;
    }
}
.cards{
    display:grid;
    grid-template-columns: 1fr;
    grid-row-gap:1rem;
    @include media(1024px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
        grid-column-gap: 2rem;
        grid-row-gap:2rem;
      }
}
.card{
    border-radius: 1rem 1rem 1rem 1rem; 
    box-sizing: border-box;
    box-shadow: 0 2px 7px $color-searchbord;
    position: relative;
    &__img{
        height: 11rem;
        object-fit: cover;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    &__badge{
        background-color: $color-tertiary;
        width: 5rem;
        height:1.8rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        color:darken( $color-tertiary, 35% );
        font-weight: 600;
        border-radius: 0.15rem;
    }
    &__content{
        display:flex;
        flex-direction: column;
        padding-left: 1rem;
        margin: -0.5rem 0 1rem 0;
        &--title{
            font-size: 1.1rem;
            margin-bottom: 0.2rem;
        }
        &--icon{
            position: absolute;
            right:1.3rem;
            bottom: 2rem;
            font-size: 1.5rem;
        }
    }
}

