.search{
    background-color: $color-search;
    height: 3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 3px 4px  lighten($color: $color-searchbord, $amount: 30);
    .search__icon {
        color: $color-icon;
        padding-right: 1rem;
    } 
    &__form {
        font-weight: 600;
        color: $color-icon;
    }
    .search__city{
        color: $color-icon;
        border: none;
        font-weight: bold;
        font-size: 1rem;
        background: $color-search ;            
    }  
}

