.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    background: rgba(0,0,0,0.5);
    animation: loader 0.01s; /* Keyframe loader */
    animation-delay: 3s;
    animation-fill-mode: both;
    z-index: 10;
    &__item {
      height: 1rem;
      width: 1rem;
      border-radius: 1rem;
      animation: transform-load 0.1s;
      &Container {
        display: flex;
        width: 5rem;
        justify-content: space-between;
      }
      &--1 {
        background-color: $color-primary;
        animation: transform-load 3s 500ms ease-in-out;
      }
      &--2 {
        background-color: $color-secondary;
        animation: transform-load 3s 250ms ease-in-out;
      }
      &--3 {
        background-color: $color-tertiary;
        animation: transform-load 3s ease-in-out;
      }
    }
}







