@keyframes loader {
    100% {
      opacity: 0;
      z-index: -1000;
    }
  } 
@keyframes transform-load {
  0% {
    visibility:visible;
    opacity: 0;
    transform: translateX(-300px);

  }
  33% {
    opacity: 1;
    transform: translateX(0px);
    visibility:visible;
  }
  44%{
    opacity: 1;
    transform: translateX(0px);
    transform: translateY(0.5rem);
    visibility:visible;
  }
  55%{
    opacity: 1;
    transform: translateX(0px);
    transform: translateY(-0.5rem);
    visibility:visible;
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
    visibility:visible;
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
    visibility:hidden;
  }
}
@keyframes itemtranslate{
  0%{
      transform: scale(0);
  }
  100%{
      transform: scale(1)
  }
}  

@keyframes progressheart {
  0% {
    transform: scaleY(0);
  }
  33% {
    transform: translateY(0.3);

  }
  66% {
    transform: translateY(0.6);

  }
  100% {
    transform: translateY(1);
  }
}
